<!doctype html>
<html lang="ua">
<%- include ./partial/head.ejs%>
<body>
<header>
    <%-include ./partial/nav.ejs %>
    <div class="card card-image" style="background-image: url(/images/book-background.jpg);">
        <div class="text-white text-center rgba-stylish-strong py-5 px-4">
            <div class="py-5">

                <!-- Content -->
                <h5 class="h5 orange-text">E-library</h5>
                <h2 class="card-title h2 my-4 py-2">Бронювання книги</h2>
                <p class="mb-4 pb-2 px-md-5 mx-md-5">Ви можете взяти на прочитання любу вільну книгу. Будь ласка, зберігайте книги в гарному стані, та дотримуйтесь правил бібліотеки<br> Весь список правил можна прочитати натиснувши на кнопку нижче</p>
                <a class="btn peach-gradient">Правила</a>

            </div>
        </div>
    </div>
</header>
<main>
    <div class="container-fluid books">
        <section>

            <div class="row">


                <% for( var i=0; i < books.length; i++) { %>

                    <div class="col-md-3 col-sm-4 col-xs-6">
                        <div class="dummy"></div>
                        <a href="/books/<%=books[i].id%>">
                            <div class="thumbnail" style="background-image: url(<%= books[i].image%>)"><span class="bookTitle">
                            <%= books[i].title%>
                        </span>
                                <span class="bookAuthor"><%= books[i].author%></span>
                                <p class="inActive"><span class="text"></span>
                            </div>
                        </a>
                    </div>

                <% } %>


            </div>
        </section>
    </div>

</main>
<%- include ./partial/footer.ejs%>
<%- include ./partial/scripts.ejs%>
</body>
</html>
