<!doctype html>
<html lang="ua">
<%- include ./partial/head.ejs%>
<body>
<header>
    <%-include ./partial/nav.ejs %>
</header>
<%- include ./partial/carousel.ejs %>
<main>
    <section>
        <div class="container-fluid">
            <section class="section pb-3 wow fadeIn" data-wow-delay="0.3s">

                <!--Section heading-->
                <h1 class="font-weight-bold text-center h1 my-5">Найпопулярніші книги</h1>
                <!--Section description-->
                <p class="text-center font-weight-bold grey-text mb-5 mx-auto w-responsive">Книги, які користуються найбільною популярністю серед користувачів нашого сервісу<br>Можливо вони вас зацікавлять</p>

                <!--Grid row-->
                <div class="row">
                    <!--Grid column-->
                    <div class="col-lg-3 col-md-6 mb-4">

                        <!--Card-->
                        <div class="card card-ecommerce">

                            <!--Card image-->
                            <div class="view overlay z-depth-1">
                                <img src="https://kbimages1-a.akamaihd.net/b37e584f-82ac-4150-a5cd-46ca02b57801/353/569/90/False/wBCBXHuk3TW_wQywFv6OuA.jpg" class="card-img-top" alt="">
                                <a>
                                    <div class="mask rgba-white-slight"></div>
                                </a>
                            </div>
                            <!--Card image-->

                            <!--Card content-->
                            <div class="card-body text-center no-padding">
                                <!--Category & Title-->
                                <a href="" class="text-muted">
                                    <h5>Карл Маркс</h5>
                                </a>
                                <h4 class="card-title">
                                    <strong>
                                        <a href="">Капитал</a>
                                    </strong>
                                </h4>

                                <!--Description-->
                                <p class="card-text">Сommunism
                                </p>



                            </div>
                            <!--Card content-->

                        </div>
                        <!--Card-->

                    </div>
                    <!--Grid column-->

                    <!--Grid column-->
                    <div class="col-lg-3 col-md-6 mb-4">

                        <!--Card-->
                        <div class="card card-ecommerce">

                            <!--Card image-->
                            <div class="view overlay z-depth-1">
                                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/93/The-Road-to-Serfdom-First-Edition1.jpg/220px-The-Road-to-Serfdom-First-Edition1.jpg" class="card-img-top" alt="">
                                <a>
                                    <div class="mask rgba-white-slight"></div>
                                </a>
                            </div>
                            <!--Card image-->

                            <!--Card content-->
                            <div class="card-body text-center no-padding">
                                <!--Category & Title-->
                                <a href="" class="text-muted">
                                    <h5>Friedrich Hayek</h5>
                                </a>
                                <h4 class="card-title">
                                    <strong>
                                        <a href="">The Road to Serfdom</a>
                                    </strong>
                                </h4>

                                <!--Description-->
                                <p class="card-text">Liberal
                                </p>

                                <!--Card footer-->


                            </div>
                            <!--Card content-->

                        </div>
                        <!--Card-->

                    </div>
                    <!--Grid column-->

                    <!--Grid column-->
                    <div class="col-lg-3 col-md-6 mb-4">

                        <!--Card-->
                        <div class="card card-ecommerce">

                            <!--Card image-->
                            <div class="view overlay z-depth-1">
                                <img src="https://images-na.ssl-images-amazon.com/images/I/71LHZhKDnVL.jpg" class="card-img-top" alt="">
                                <a>
                                    <div class="mask rgba-white-slight"></div>
                                </a>
                            </div>
                            <!--Card image-->

                            <!--Card content-->
                            <div class="card-body text-center no-padding">
                                <!--Category & Title-->
                                <a href="" class="text-muted">
                                    <h5>Adolf Hitler</h5>
                                </a>
                                <h4 class="card-title">
                                    <strong>
                                        <a href="">Mein Kampf</a>
                                    </strong>
                                </h4>

                                <!--Description-->
                                <p class="card-text">Nazi
                                </p>

                                <!--Card footer-->


                            </div>
                            <!--Card content-->

                        </div>
                        <!--Card-->

                    </div>
                    <!--Grid column-->

                    <!--Fourth column-->
                    <div class="col-lg-3 col-md-6 mb-4">

                        <!--Card-->
                        <div class="card card-ecommerce">

                            <!--Card image-->
                            <div class="view overlay z-depth-1">
                                <img src="https://img2.labirint.ru/books/273180/coverbig.jpg" class="card-img-top" alt="">
                                <a>
                                    <div class="mask rgba-white-slight"></div>
                                </a>
                            </div>
                            <!--Card image-->

                            <!--Card content-->
                            <div class="card-body text-center no-padding">
                                <!--Category & Title-->
                                <a href="" class="text-muted">
                                    <h5>Людмила зубкова</h5>
                                </a>
                                <h4 class="card-title">
                                    <strong>
                                        <a href="">Мы делили апельсин</a>
                                    </strong>
                                </h4>

                                <!--Description-->
                                <p class="card-text">Social Democrat
                                </p>

                                <!--Card footer-->
                            </div>
                            <!--Card content-->

                        </div>
                        <!--Card-->

                    </div>
                    <!--Fourth column-->

                </div>
                <!--Grid row-->

            </section>
        </div>
    </section>
</main>
<%-include ./partial/footer.ejs%>
<%-include ./partial/scripts.ejs%>
</body>
</html>
